<section class="middle">
	<p>אחת הדרכים הטובות ביותר להתקדמות בתחום <b>החלומות הצלולים</b> היא חלוקת ידע.
		פורום החלומות הצלולים של תפוז מחזיק בתוכו אולי את הקהילה היחידה בישראל בתחום,
		וודאי שהגדולה והפעילה ביותר.</p>
	<a href="http://www.tapuz.co.il/Forums2008/ForumPage.aspx?ForumId=27&r=1" target="_blank" class="link-articles">פורום חלומות צלולים</a>
	<p>נשמח אם תשתתפו בפורום ותספרו לנו על החוויות האישיות שלכם.</p>
	<p>כמובן, נוכל לעזור לכם בכל שאלה, פנייה או בקשה.</p>
	<p>ובמידה ובעתיד נארגן מפגשים בין חברי הקהילה, הדבר יתפרסם שם.</p>
</section>