<section class="middle">
	<div>
		<p><b>חלום צלול</b> או <b>חלימה מודעת</b>, הינו מצב תת-הכרתי בו האדם <b>החולם</b> מצליח לשמור על מודעות מלאה בזמן <b>החלום.</b></p>
		<p>מרגע שמצליח האדם להיות מודע לכך שהוא <b>חולם</b>, הוא רשאי לעבור על חוקי המציאות בתוך <b>החלום</b> ולעשות כל דבר שיחפוץ.</p>
		<br>
	</div>
	<a class="link-next" href="" ng-click="showText(0)">מה ההבדל בין חלום צלול למדיטציה?</a>

	<div ng-show="text[0]">
		<p>במדיטציה אנו יוצרים סביבה על ידי דמיון מודרך, בה אנחנו שולטים, ורשאים לתקשר עם התת-מודע בצורה רצונית.</p>
		<p><b>בחלום</b> הדברים קורים בצורה בלתי נשלטת ואקראית. ואפילו שאנו "זורמים" איתם תמיד, הם לא לגמרי רצוניים.</p>
		<p>מצד שני, <b>חלום</b> הוא לא דמיוני. כשאנחנו <b>חולמים</b>, בניגוד למדיטציה, אנחנו לא מרגישים רחוקים מהמקום. אנחנו לא חושבים "אולי אני מדמיין הכול".</p>
		<p><b>בחלום</b> אנחנו פועלים מגוף ראשון, כשכל החושים עובדים בצורה מושלמת. אין אפילו רגע אחד <b>בחלום</b> בו נדמה לנו שאנחנו מדמיינים משהו.</p>
		<p>במדיטציה, המחשבה הזו מטרידה אותנו ללא הרף.</p>
		<br>
	<a class="link-next" href="" ng-click="showText(1)">מה ההבדל בין חלום צלול לחלום רגיל?</a>
	</div>

	<div ng-show="text[1]">
		<p>כולנו <b>חולמים חלומות</b> רגילים. בדרך כלל הם מטושטשים, מבולגנים, אקראיים, חסרי שליטה - וגם ככה קשה מאוד לזכור אותם.</p>
		<p><b>חלום צלול</b> הינו חוויה חושית מלאה, חזקה הרבה יותר <b>מחלום</b> רגיל, ומגיעה יחד עם היכולת לשלוט בסביבה.</p>
		<p><b>החלום הצלול</b> לוקח את יתרונות הסדר והארגון של המדיטציה, יחד עם יתרונות המציאותיות של <b>החלומות</b> הרגילים.</p>
		<p>בנוסף, מפני שזו חוויה חושית כל כך עוצמתית, החותם שמותיר <b>חלום צלול</b> מבטיח שנזכור אותו כשנתעורר.</p>
		<p> אלה שמצליחים לשלוט <b>בחלימה המודעת</b> זוכים לשליטה מלאה בשינה שלהם <b>ובחלומותיהם</b>.</p>
		<ul>
			<li><b>בחלומות</b> ניתן להשיג גישה מלאה לתת-מודע, לטיפול בכל בעיה רגשית.</li>
			<li><b>בחלומות</b> ניתן לטייל במקומות רחוקים מבלי לצאת מהמיטה.</li>
			<li><b>בחלומות</b> ניתן לחיות כל סצנה דמיונית; לעוף, לרקוד על הירח ואף לבלות עם בן הזוג המושלם.</li>
			<li>ניתן <b>לחלום</b> על כל נושא שבוחרים, גם כדי להפיג מתח, וגם סתם בשביל הכיף.</li>
		</ul>	
		<br>
	<a class="link-next" href="" ng-click="showText(2)">איך שולטים בחלומות?</a>
	</div>

	<div ng-show="text[2]">
		<p>אם האדם לא מסוגל לשלוט על חייו בזמן שהוא ער, וודאי שיתקשה לשלוט עליהם כשהוא ישן.</p>
		<p>למידת <b>החלימה המודעת</b> והאימונים המתלווים אליה ישפיעו באופן ישיר על תחומים אחרים בחיינו.</p>
		<p>יחד עם שיפור אדיר ביכולות המוח, הקשב, הריכוז, הזיכרון והסבלנות, נלמד לשלוט ברצונות שלנו ולהתמודד עם הצבת מטרות עצמיות.</p>
		<p>בעזרת שיטות יצירתיות, נוכל להשתמש <b>בחלומות הצלולים</b> כדי לפתור בעיות יומיומיות, החל מפחדים וחרדות - ועד נדודי שינה.</p>
		<p>נשים דגש על שיפור השליטה בחיים שלנו ובסביבתנו בזמן הערות, מה שיוביל לשליטה בהם גם במהלך השינה.</p>
		<p>ומלבד פריקת המתחים והלחצים בכל לילה, נוכל לחוות בחלומות דברים עוד לפני שנעשו במציאות, להתרגל אליהם, ולראות מה יהיו התוצאות.</p>
		<br>
	<a class="link-next" href="" ng-click="showText(3)">מה זה נותן?</a>
	</div>

	<div ng-show="text[3]">
		<p>על ידי קריאה באתר נוכל ללמוד דברים רבים על מסתרי <b>החלומות</b>, השינה <b>והחלימה המודעת</b>.</p>
		<p>קריאת מאמרים תשפר את <b>הקלט המחשבתי</b>, וקריאת סיפורים תשפר את <b>הקלט הרגשי</b>.</p>
		<p>נקבל כלים בעזרתם נוכל לעבוד בכל לילה, <b>מבלי לפגוע בשינה שלנו</b>, ולהגיע בעצמנו אל מצב <b>החלימה</b> הגבוה ביותר שקיים.</p>
		<p><b>בין יתר הדברים שנלמד:</b></p>
		<ul>
			<li>מהי שינה? מהם <b>חלומות</b>? מי ישן בעצם, הגוף או הנשמה?</li>
			<li>איך לרשום <b>חלומות</b> בדרך הנכונה, ואיך רישום <b>החלומות</b> משפר את יכולות הזיכרון.</li>
			<li>מהם מחזורי השינה וכיצד לנצל אותם כדי <b>לחלום</b> בשעות הנכונות לנו.</li>
			<li>תפעול <b>השעון הביולוגי</b>, בעזרתו נוכל להתעורר בשעות הרצויות <b>ולחלום</b> בכל נושא מבוקש.</li>
			<li>איך לפגוש את <b>מדריך החלומות</b> הרוחני ולהיעזר בו על מנת להתקדם באופן עצמאי.</li>
			<li>מהן <b>בדיקות המציאות</b> ואיך לבצע אותן כדי לייעל את הכניסה <b>לחלומות צלולים</b>.</li>
			<li>איך לנצל את <b>שיתוק השינה, הסיוטים</b> ושאר החוויות הלא נעימות על מנת לשפר את <b>יכולות החלימה</b>.</li>
		</ul>
		<p><b>בנוסף נלמד:</b></p>
		<ul>
			<li>מה ההבדל בין שנת לילה לשנת יום וכיצד להתייחס אל שני המצבים השונים.</li>
			<li>נחקור את השיטות המדעיות הרשמיות לכניסה <b>לחלום צלול</b>: MILD, WILD ו-WBTB.</li>
			<li>נלמד שילובים מקוריים של השיטות שנועדו להקל בשימוש ולייעל אותן.</li>
			<li>נלמד מה עושים בתוך <b>חלום צלול</b> וכיצד לשלוט בגוף <b>החולם</b>.</li>
			<li>כיצד להשתמש ביכולות במהלך <b>החלום</b> (תעופה, הליכה על קירות, מעבר דרך דברים, תשאול דמויות וכו').</li>
			<li>כיצד לשלוט <b>בחלומות</b> וליצור מהם כל סצנה שנרצה.</li>
			<li>וכיצד להעביר את כל מה שלמדנו אל תוך החיים, כדי ליהנות מהם קצת יותר.</li>
		</ul>
	<a class="link-articles" href="#/articles">איפה מתחילים?</a>
	</div>
</section>