<div class="top-part">
	<div class="main-bar">
		<ul class="bar-list">
			<li><a id="logo" href="#/">חלום</a></li>
			<span class="show-ignored-bar" ng-show="!isSmall || isClicked">
				<li><a ng-class="{'clicked': loc[0].clicked}" href="#{{::loc[0].url}}">המדריך לרוקם החלומות</a></li>
				<li><a ng-class="{'clicked': loc[1].clicked}" href="#{{::loc[1].url}}">מאמרים</a></li>
				<li><a ng-class="{'clicked': loc[2].clicked}" href="#{{::loc[2].url}}">בתולת החלומות</a></li></li>
				<li><a href="" ng-click="openForum()">פורום</a></li>
			</span>
			<li><a ng-click="isClicked=!isClicked" class="bar-btn" ng-class="{'clicked':isClicked}"  href="">&#9776</a></li>
		</ul>
	</div>
</div>